@font-face {
  font-family: "PlayfairDisplay";
  src: url("/fonts/PlayfairDisplay-Regular.ttf") format("truetype");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url("/fonts/PlayfairDisplay-Bold.ttf") format("truetype");
  font-weight: 700; /* Bold */
  font-style: normal;
}

body {
  font-family: "PlayfairDisplay", serif;
}
