---
import Layout from "../layouts/Layout.astro";
---

<Layout title="DeliBums">
  <main>
    <section
      class="w-full lg:w-[1000px] mx-auto flex flex-col lg:flex-row items-center gap-8 py-20 px-6"
    >
      <div class="mt-10 lg:mt-0 w-full lg:w-[50%] text-center lg:text-left">
        <h1 class="text-gray-700 text-4xl lg:text-5xl font-bold font-playfair">
          Deli<span class="text-red-400">Bums</span>
        </h1>
        <h2 class="text-gray-700 text-lg lg:text-2xl mt-3">
          Explora la magia del chocolate artesanal.
        </h2>
      </div>
      <div class="w-full lg:w-[50%] flex justify-center">
        <img
          src="/choco_ball.png"
          alt="Chocobombs artesanales"
          class="max-w-full h-auto"
        />
      </div>
    </section>

    <section class="w-full py-13 bg-gray-100 px-6">
      <div
        class="container mx-auto grid grid-cols-1 lg:grid-cols-3 gap-12 items-center py-10"
      >
        <div class="text-left lg:text-left">
          <h3 class="text-3xl font-playfair font-bold text-red-400 mb-6">
            ¿Por qué elegirnos?
          </h3>
          <ul class="space-y-4">
            <li class="flex items-start gap-4">
              <p class="text-gray-700 text-base lg:text-lg">
                Productos hechos con chocolate de alta calidad.
              </p>
            </li>
            <li class="flex items-start gap-4">
              <p class="text-gray-700 text-base lg:text-lg">
                Rellenos irresistibles y personalizados.
              </p>
            </li>
            <li class="flex items-start gap-4">
              <p class="text-gray-700 text-base lg:text-lg">
                Ideales para regalos o momentos especiales.
              </p>
            </li>
          </ul>
        </div>
        <div class="flex justify-center">
          <img
            src="choco_chef.png"
            alt="Imagen de Chocobomb"
            class="max-w-full h-auto"
          />
        </div>
        <div class="text-right lg:text-left">
          <h3 class="text-3xl font-playfair font-bold text-orange-900 mb-6">
            ¿Por qué lo hacemos tan especial?
          </h3>
          <ul class="space-y-4">
            <li>
              <p class="text-gray-700 text-base lg:text-lg">
                Solo utilizamos ingredientes de la mejor calidad.
              </p>
            </li>
            <li>
              <p class="text-gray-700 text-base lg:text-lg">
                Cada chocobomb es hecho con dedicación y pasión.
              </p>
            </li>
            <li>
              <p class="text-gray-700 text-base lg:text-lg">
                Pensamos en cada detalle para tu satisfacción.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="w-full py-10 px-6">
      <div
        class="container mx-auto grid grid-cols-1 lg:grid-cols-2 gap-12 items-center"
      >
        <div class="text-center">
          <h3 class="text-4xl font-playfair font-bold text-orange-900">
            ¿Cómo Comprar?
          </h3>
        </div>
        <div class="mb-6">
          <ul class="space-y-4">
            <li>
              <p class="text-gray-700 lg:text-lg">
                <span class="text-red-400 font-semibold">1.</span> Explora nuestro catálogo.
              </p>
            </li>
            <li>
              <p class="text-gray-700 lg:text-lg">
                <span class="text-red-400 font-semibold">2.</span> Haz clic en el botón de Comprar.
              </p>
            </li>
            <li>
              <p class="text-gray-700 lg:text-lg">
                <span class="text-red-400 font-semibold">3.</span> Genera tu orden.
              </p>
            </li>
            <li>
              <p class="text-gray-700 lg:text-lg">
                <span class="text-red-400 font-semibold">4.</span> Recíbelo en la puerta de tu
                casa.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </main>
</Layout>
