---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "@fortawesome/fontawesome-free/css/all.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/choco_ball.png" />
    <link rel="stylesheet" href="/src/styles/fonts.css" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="flex flex-col min-h-screen">
    <Header />
    <div class="flex-grow">
      <slot />
    </div>
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    color-scheme: light dark;
  }
  html {
    background: #ffffff;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el layout ocupe toda la pantalla */
  }

  /* CSS integrado en Tailwind */
  .absolute {
    position: absolute;
  }

  .inset-0 {
    top: 0;
    right: 0;
    bottom: 10;
    left: 0;
  }

  .-z-10 {
    z-index: -10; /* Envía la cinta detrás del contenido */
  }

  .bg-red-400 {
    background-color: #f87171; /* Color red-400 */
  }

  .skew-y-6 {
    transform: skewY(-6deg); /* Inclinación diagonal */
  }

  .origin-top {
    transform-origin: top; /* Punto de inclinación desde la parte superior */
  }

  .scale-y-[1.5] {
    transform: scaleY(1.5); /* Escala vertical para cubrir el contenido */
  }
</style>
